VITE_API_URL=https://smart-grits.vercel.app
VITE_SUPABASE_URL=https://mxpxcxslvvsvcdxoohhe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFub24iLCJpYXQiOjE3ODQ5NTk0NDMsImV4cCI6MjEwMDUzNTQ0M30.BJD0oWa_TkeAKfo6IRMNIPKE_cU1o8cNRc2ogThUDRw
