SUPABASE_URL=https://mxpxcxslvvsvcdxoohhe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14cHhjeHNsdnZzdmNkeG9vaGhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDk1OTQ0MywiZXhwIjoyMTAwNTM1NDQzfQ.WU5W45P11rg1j3PD3GuXTh6G7cbcJdk5YjrwlOlfURM
JWT_SECRET=super_secret_jwt_key_123
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=465
SMTP_USER=jg322yoxejls2zfq@ethereal.email
SMTP_PASS=JP5JfEdQR9Fja6BSuv
ADMIN_EMAIL=sasvanthu.g.2006@gmail.com
